@media print {
    body {
        margin:50px auto;
    }
    table,
    th,
    td {
        border: 1px solid black;
    }
    .judul {
        text-align:center;
    }

    .panjang {
        width:100%;
    }

}